extends ../layout

block content
  .container
    h2 Click to call
    p.lead
      | Contacta con uno de nuestros agentes ahora mismo
    .row
      .col-md-4.col-md-push-0
        .panel.panel-primary.client-controls
          .panel-heading
            h3.panel-title Click to call
          .panel-body
            p
              strong Estado
            #call-status.well.well-sm
              | Conectando a Twilio...
            button.btn.btn-primary.btn-lg.call-customer-button(onclick="callCustomer('+51 990 604 285')", type="button")
                  span.glyphicon.glyphicon-earphone(aria-hidden="true")
                  |  Llamar
            button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Colgar
      

    
